body{
    background-color: rgb(4, 4, 246);
    color:rgb(63, 218, 239); 
    font-family: font-family: "Oswald", sans-serif;
    margin : 0px;
}
header{
    font-size: 65px;
    border-bottom:  double  3px  rgb(5, 17, 66);
    text-align:center;
   /* margin: 30px;*/
   padding: 5px;
   color:rgb(11, 3, 82);
}
h1{
    font-size:  40px;
}
p{
    font-size: 20px
}

section{
background-color: black;
padding-bottom: 80px;
display: flex;
justify-content: center;
}