body{
    background-color: rgb(4, 4, 246);
    color:rgb(10, 179, 209); 
    font-family: font-family: "Oswald", sans-serif;
    margin : 0px;
}
header{
    font-size: 65px;
    border-bottom:  double  3px  rgb(5, 17, 66);
    text-align:center;
   /* margin: 30px;*/
   padding: 5px;
   color:rgb(11, 3, 82);
}
h1{
    font-size:  40px;
}
p{
    font-size: 20px
}

.chamada{
background-color: rgb(13, 13, 13);
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 10%;
}

img{
    width: 200px;
    height: 300px;
}

.Outras opçoẽs{
    display: flex;
    overflow-x:auto;
    gap: 10px;
    padding-left: 20px;
}

h2{
    padding-left: 30px;
}

body{
    padding-bottom: 40px;
}